Redirect 301 /contattami /about
Redirect 301 /contattami/ /about
Redirect 301 /page/2/ /blog/page/2
Redirect 301 /page/3/ /blog/page/3
Redirect 301 /page/4/ /blog/page/4
Redirect 301 /category/php/ /tags/php
Redirect 301 /category/react/ /tags/react
Redirect 301 /category/javascript/ /tags/javascript
Redirect 301 /category/jquery/ /tags/jquery
Redirect 301 /category/css/ /tags/css
Redirect 301 /category/snippets/ /tags/snippets
Redirect 301 /category/eventi/ /tags/eventi
Redirect 301 /category/mysql/ /tags/mysql
Redirect 301 /category/hmtl5/ /tags/html5
Redirect 301 /category/applicazioni-online/ /tags/webapp
Redirect 301 /tag/plugin-jquery/ /tags/plugin-jquery
Redirect 301 /tag/google/ /tags/google
Redirect 301 /tag/browser/ /tags/browser
Redirect 301 /il-mio-primo-blog /blog/il-mio-primo-blog
Redirect 301 /firefox-3-le-caratteristiche /blog/firefox-3-le-caratteristiche
Redirect 301 /lightbox-plugin-con-jquery /blog/lightbox-plugin-con-jquery
Redirect 301 /semplice-menu-verticale-con-effetto-fisarmonica-via-javascript /blog/semplice-menu-verticale-con-effetto-fisarmonica-via-javascript
Redirect 301 /jquery-multimedia-portfolio-galleria-di-file-multimediali /blog/jquery-multimedia-portfolio-galleria-di-file-multimediali
Redirect 301 /Arricchisci-il-tuo-sito-widget-per-migliorare-l-aspetto /blog/Arricchisci-il-tuo-sito-widget-per-migliorare-l-aspetto
Redirect 301 /validare-form-con-livevalidation /blog/validare-form-con-livevalidation
Redirect 301 /Fissare-il-problema-dell-overflow-orizzontale-ie /blog/Fissare-il-problema-dell-overflow-orizzontale-ie
Redirect 301 /hack-css-per-firefox-opera-safari-e-internet-explorer /blog/hack-css-per-firefox-opera-safari-e-internet-explorer
Redirect 301 /visualizzare-propri-font-nelle-pagine-web /blog/visualizzare-propri-font-nelle-pagine-web
Redirect 301 /gmail-risponde-ai-nostri-contatti /blog/gmail-risponde-ai-nostri-contatti
Redirect 301 /gestisci-i-commenti-di-wordpress-dal-desktop /blog/gestisci-i-commenti-di-wordpress-dal-desktop
Redirect 301 /notazione-heredoc-sistema-per-specificare-stringhe-in-php /blog/notazione-heredoc-sistema-per-specificare-stringhe-in-php
Redirect 301 /applicare-css-ad-un-semplice-elenco /blog/applicare-css-ad-un-semplice-elenco
Redirect 301 /debug-primitivo-di-applicazioni-php /blog/debug-primitivo-di-applicazioni-php
Redirect 301 /conversioni-tra-tipi-di-dati /blog/conversioni-tra-tipi-di-dati
Redirect 301 /google-lancia-voce-e-video-chat-per-gmail /blog/google-lancia-voce-e-video-chat-per-gmail
Redirect 301 /angoli-arrotondati-con-jquery /blog/angoli-arrotondati-con-jquery
Redirect 301 /come-ottenere-sempre-la-compatibilit-cross-browser /blog/come-ottenere-sempre-la-compatibilit-cross-browser
Redirect 301 /felice-natale-a-tutti /blog/felice-natale-a-tutti
Redirect 301 /semplice-menu-verticale-scorrevole-con-jquery /blog/semplice-menu-verticale-scorrevole-con-jquery
Redirect 301 /crea-una-classifica-mp3-musicale-con-jquery /blog/crea-una-classifica-mp3-musicale-con-jquery
Redirect 301 /sfondo-a-tutto-schermo-con-jquery /blog/sfondo-a-tutto-schermo-con-jquery
Redirect 301 /effetto-growl-con-jquery /blog/effetto-growl-con-jquery
Redirect 301 /jquery-captify-plugin-aggiungere-didascalie-alle-immagini /blog/jquery-captify-plugin-aggiungere-didascalie-alle-immagini
Redirect 301 /crea-tooltip-su-link-e-immagini-in-modo-semplice-con-jquery /blog/crea-tooltip-su-link-e-immagini-in-modo-semplice-con-jquery
Redirect 301 /effetto-newsticker-con-jquery /blog/effetto-newsticker-con-jquery
Redirect 301 /creare-una-lista-a-due-colonne-fissa-liquida /blog/creare-una-lista-a-due-colonne-fissa-liquida
Redirect 301 /colonne-adattabili-a-layout-liquido-con-css-e-jquery /blog/colonne-adattabili-a-layout-liquido-con-css-e-jquery
Redirect 301 /ricerca-in-modo-interattiva-con-jquery /blog/ricerca-in-modo-interattiva-con-jquery
Redirect 301 /creare-un-menu-a-lista-in-ordine-alfabetico-con-jquery /blog/creare-un-menu-a-lista-in-ordine-alfabetico-con-jquery
Redirect 301 /utilizzare-piu-istruzioni-sql-prepare-con-php-mysqli /blog/utilizzare-piu-istruzioni-sql-prepare-con-php-mysqli
Redirect 301 /evento-symfony-live-2010 /blog/evento-symfony-live-2010
Redirect 301 /twitter-annuncia-user-streams /blog/twitter-annuncia-user-streams
Redirect 301 /menu-verticale-jquery-con-effetto-fisarmonica /blog/menu-verticale-jquery-con-effetto-fisarmonica
Redirect 301 /duplicare-campi-di-un-modulo-con-jquery /blog/duplicare-campi-di-un-modulo-con-jquery
Redirect 301 /come-creare-miniature-di-immagini-con-php-e-la-libreria-gd-2 /blog/come-creare-miniature-di-immagini-con-php-e-la-libreria-gd-2
Redirect 301 /google-font-api /blog/google-font-api
Redirect 301 /cloud-zoom-image-zoomer-con-jquery /blog/cloud-zoom-image-zoomer-con-jquery
Redirect 301 /rubrica-contatti-in-stile-iphone-con-jquery-e-css /blog/rubrica-contatti-in-stile-iphone-con-jquery-e-css
Redirect 301 /jtwitter-semplice-plugin-jquery-per-le-twitter-api /blog/jtwitter-semplice-plugin-jquery-per-le-twitter-api
Redirect 301 /nyromodal-finestre-modali-con-jquery /blog/nyromodal-finestre-modali-con-jquery
Redirect 301 /drop-shadows-con-css3 /blog/drop-shadows-con-css3
Redirect 301 /trasformazioni-sui-link-con-css /blog/trasformazioni-sui-link-con-css
Redirect 301 /iterazione-foreach-degli-array-in-javascript /blog/iterazione-foreach-degli-array-in-javascript
Redirect 301 /utilizzare-le-viste-in-mysql /blog/utilizzare-le-viste-in-mysql
Redirect 301 /mod_pagespeed-di-google-per-ottimizzare-automaticamente-la-velocita-del-sito-web /blog/mod_pagespeed-di-google-per-ottimizzare-automaticamente-la-velocita-del-sito-web
Redirect 301 /come-utilizzare-funzioni-di-callback-in-php /blog/come-utilizzare-funzioni-di-callback-in-php
Redirect 301 /come-contribuire-al-programma-del-codemotion /blog/come-contribuire-al-programma-del-codemotion
Redirect 301 /rilasciato-jquery-1-5 /blog/rilasciato-jquery-1-5
Redirect 301 /xdebug-debugging-e-profiling-delle-applicazioni-php /blog/xdebug-debugging-e-profiling-delle-applicazioni-php
Redirect 301 /menu-verticale-con-effetto-fisarmonica-versione-history /blog/menu-verticale-con-effetto-fisarmonica-versione-history
Redirect 301 /come-rendere-il-database-pi-sicuro /blog/come-rendere-il-database-pi-sicuro
Redirect 301 /applicazioni-web-offline-con-html5 /blog/applicazioni-web-offline-con-html5
Redirect 301 /animazioni-con-jquery-in-un-sistema-di-votazione /blog/animazioni-con-jquery-in-un-sistema-di-votazione
Redirect 301 /semplici-espressioni-regolari /blog/semplici-espressioni-regolari
Redirect 301 /come-creare-una-semplice-applicazione-di-geolocalizzazione /blog/come-creare-una-semplice-applicazione-di-geolocalizzazione
Redirect 301 /mysql-event-scheduler /blog/mysql-event-scheduler
Redirect 301 /favicons-con-immagini-badges-e-video /blog/favicons-con-immagini-badges-e-video
Redirect 301 /guida-ai-react-hooks /blog/guida-ai-react-hooks
Redirect 301 /tag/hook-useeffect/ /tags/hook-useeffect